.vscode/
blueprint.png
tasks.md

**/.env
**/__pycache__/
**/node_modules/
**/dist/
**/build/

client/*.tsbuildinfo
client/next-env.d.ts
client/.next/
client/out/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

server/logs/